body,
html {
  height: 100%;
  margin: 0;
  display: flex;
  overflow: hidden;
  background-image: radial-gradient(circle at top right, #ff0055, #beec4ba6, #ff0055);
}

body {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  position: relative;
  display: flex;
}

.flex-container,
.flex-container1,
.flex-container2 {
  background-color: #ffffff;
  height: 300px;
  width: 300px;
  border-radius: 50%;
  display: grid;
  place-items: center;
  position: absolute;
}

.flex-container {
  left: 10%;
  animation-name: myAnimation;
  animation-duration: 4s;
  animation-delay: -1s;
  animation-iteration-count: infinite;
}

.flex-container1 {
  left: 50%; /* Adjusted for better spacing */
  transform: translateX(-50%);
  animation-name: myAnimation1;
  animation-duration: 4s;
  animation-delay: -2s;
  animation-iteration-count: infinite;
}

.flex-container2 {
  left: 80%; /* Adjusted for better spacing */
  transform: translateX(-50%);
  animation-name: myAnimation2;
  animation-duration: 4s;
  animation-delay: -3s;
  animation-iteration-count: infinite;
}

@keyframes myAnimation {
  0%, 100% {
    top: 0px;
    opacity: 0;
    background-color: #ffffff;
  }
  50% {
    top: 50%;
    opacity: 1;
  }
}

@keyframes myAnimation1 {
  0%, 100% {
    top: 50%;
    opacity: 0;
    background-color: #ffffff;
  }
  50% {
    top: 0px;
    opacity: 1;
  }
}

@keyframes myAnimation2 {
  0%, 100% {
    top: 0px;
    opacity: 0;
    background-color: #ffffff;
  }
  50% {
    top: 50%;
    opacity: 1;
  }
}

#gruppArbete, #alice {
  color: #ff0055;
  text-decoration: none;
}